In [1]:
#To install the pandas in jupytor notebook
!pip install pandas

Requirement already satisfied: pandas in c:\users\priteshkumarbhimani\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\priteshkumarbhimani\anaconda3\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\priteshkumarbhimani\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\priteshkumarbhimani\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\priteshkumarbhimani\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

In [2]:
#import pandas
import pandas as pd

In [8]:
#to read data from different files.
#read csv --- pd.read_csv("")
jsonf = pd.read_json("jay.json")

# jsonf.head()
# jsonf.head(7)

# jsonf.tail()

jsonf.head(10)
# jsonf.tail()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [11]:
#to add new row in dataset(append)
new_row = {'Duration': 55, 'Pulse': 121, 'Maxpulse': 151}


jsonf = jsonf.append(new_row, ignore_index=True)
jsonf.tail()

# what are thte other ways to add rows aprt from append()
# if I want to add multiple row at a time how can I do?

<ipython-input-11-be88a29cd0c5>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  jsonf = jsonf.append(new_row, ignore_index=True)

     Duration  Pulse  Maxpulse  Calories
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
169        55    121       151       NaN
170        55    121       151       NaN

In [12]:
#to check data type of each column

jsonf.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [13]:
#to find all the description about the dataset
#If the DataFrame contains numerical data, the description contains these information for each column:
#std - The standard deviation.
#min - the minimum value.
#25% - The 25% percentile*.
#50% - The 50% percentile*.
#75% - The 75% percentile*.
#max - the maximum value.
#count - The number of not-empty values.
#mean - The average (mean) value.

jsonf.describe()

# count(*)
# count(columnname)

         Duration       Pulse    Maxpulse     Calories
count  171.000000  171.000000  171.000000   164.000000
mean    63.742690  107.619883  134.245614   375.800000
std     42.061207   14.498335   16.455231   266.377134
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  143.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [14]:
#give the information of the data 
jsonf.info

<bound method DataFrame.info of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
169        55    121       151       NaN
170        55    121       151       NaN

[171 rows x 4 columns]>

In [ ]:
# if you want to save you data in other file
#save data in csv file: .to_csv()
jsonf.to_json("Jay3.json")

#jsonf1=pd.read_json("Jay2.json")
#jsonf1

In [15]:
#dictionary data to dataframe using DataFrame() method 
#We can give the name of the rows using index
import pandas as pd

d={'Mouse':[150,200,300,400],
   'Keyboard':[180,200,190,300],
   'Scanner':[200,280,330,450]}

#df=pd.DataFrame(d,index=['Jan','Feb','March','April'])
#df
df=pd.DataFrame(d)
#df.index

df.index=['Jan','Feb','March','April']
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [17]:
#access the data using loc, iloc, at , iat
# want data from, Jan and April month and data only for Mouse coloumn
df.loc[:,:]
# df.loc[['Jan','Feb'],['Mouse','Keyboard']]

#df.loc[['Jan','April'],'Mouse']

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [18]:
#access data for all the rows but any two column

df.loc[:,['Mouse','Scanner']]

# march, all column
#df.loc['March',:]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [20]:
#A.	Write code to access data of Mouse and Scanner columns.

#print(df['Mouse'])
#print(df['Scanner'])

df[['Mouse','Scanner']]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [21]:
#B.	Write code to access data of the Keyboard column using dot notation and column name.

df.Keyboard
#df.Mouse

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [ ]:
#Access data for Jan Row
df.loc[['Jan'],:]

In [22]:
#C.	Write code to access data of scanners using loc[].

df.loc[:,['Scanner']]
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [24]:
#To select a particular number of rows and columns, you can do the following using .iloc.
df.iloc[[0,2],[0,2]]
df
# df.iloc[[0,1,2,3],[0,1,2]]

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [25]:
#To select a single value from the DataFrame, you can do the following.
#df.loc['Jan','Mouse']

#df.iloc[0,0]
df.iloc[2,1]

190

In [26]:
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [40]:
#D.	Write code to access data of all columns where mouse data is more than 200.
# df[df['Mouse']>200][['Mouse','Keyboard']]

# df[df['Mouse']>200]

# access data of scanner column where keyboard value is >300

# df[df['Keyboard']>150][['Scanner']]

# df[df['Mouse']>200][['Mouse']]

# df[df['Mouse']>200][['Mouse','Keyboard','Scanner']]

# df[(df['Mouse']>200) & (df['Keyboard']>300)][['Mouse','Keyboard']]

df[(df['Mouse']>200) | (df['Keyboard']>200)][['Mouse','Keyboard']]

       Mouse  Keyboard
March    300       190
April    400       300

In [ ]:
#E.	Write code to access columns using 0 and 2.

df.iloc[:,[0,2]]

In [ ]:
#F.	Write code to access data of rows of jan and march for scanner and keyboard

df.loc[['Jan','March'],['Scanner','Keyboard']]

In [ ]:
#Access a single value for a row/column pair by label.
df.at['Jan','Mouse']

In [ ]:
#Access a single value for a row/column pair by integer position.
df.iat[0,0]

In [ ]:
#Add column
df['Monitor']=[200,300,400,500]

In [ ]:
df

In [ ]:
#Add Row
# append()
d1 = {'Mouse': 200, 'Keyboard': 600, 'Scanner': 300}
df = df.append(d1, ignore_index = True)
df

In [41]:
data=pd.read_excel('corona.xlsx')
#data=pd.read_csv('corona.csv')

In [ ]:
data.head(10)

In [ ]:
data.dropna(axis=0, inplace=True)
data.head(10)

In [ ]:
data.dtypes

In [ ]:
data["cases"]=data["cases"].astype('int64')

In [ ]:
data.dtypes

In [ ]:
data.info
#The info() method prints information about the DataFrame.
#The information contains the number of columns, column labels, column data types, memory usage, range index,
#and the number of cells in each column (non-null values).

In [ ]:
data.to_excel("HouseD.xlsx")
to_json()
to_csv()

In [ ]:
import numpy as np
bins=np.linspace(min(data["cases"]),max(data["cases"]),4)
bins

In [ ]:
#if you want to append data in existing csv file
data2.to_csv("HouseCourse7.csv", mode='a')

In [ ]:
label=["low","medium","high"]
data["bincases"]=pd.cut(data["cases"],bins,labels=label,include_lowest=True)

In [ ]:
data["bincases"]